# Name of the VM
$name = "pdfutil.uit"

# VM IP
$ip = "192.168.77.41"

# Base Box
$vm_box = "wheezy64"
$vm_box_url = "http://puppet-vagrant-boxes.puppetlabs.com/debian-70rc1-x64-vf503.box"

# Puppet
$puppet_verbose = false

# Apache
$hostname = "pdfutil.uit.dev"
